* {

    padding: 0;
    
    margin: 0;
    
    box-sizing: border-box;
    
}


body {
    background: white;
}

.img-fluid {
    max-width:100%;
    height:auto;
  }
@mixin separacion {
    margin-bottom: 10px;
}
  

.tarjetalogo img {
    @include separacion;
}