/* Fuentes */

@font-face {
    font-family: gothamroundedalertas;
    src: url("../Fonts/GothamRnd-Book.otf");
}

.tarjeta-item p {
   font-family: gothamroundedalertas;
}

/* Fin Fuentes */

/*Tamaños*/

.f_size_guardias {
    font-size: 50px;
    margin-top: 40px;
}
